/**
Mise en page avec display: grid
*/

.site__entete {
  grid-area: header;
  padding: 1rem clamp(1rem, 3vw, 20rem);
  background-color: rgba(255,355, 255, .1);
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  background-color: rgb(48, 166, 127);
  filter: opacity(0.8);
}

.site__footer {
  grid-area: footer;
  background-color: antiquewhite;
  text-align: center;
}

.site__footer h3 {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: #333;
}

.site__footer a {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #555;
  text-decoration: none;
  transition: color 0.2s ease;
  list-style: none; /* enlever le point devant les liens */
  
}

.site__footer a:hover {
  color: #f00;
}

.site__aside {
  grid-area: aside;
  background-color:#bfdcee;
  .menu{ // ul
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
      @media screen and (min-width : 1000px) {
          flex-direction: column;
      }
  
      .menu-item{ // li
        margin: 5px;
        border-radius: 5px;
        background-color: rgb(130, 199, 242);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: translateY(-2px);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        }
              
        a {
          text-decoration: none;
          color: #333333;
          display: flex;
          padding: 10px;
          align-items: center;
            .cours__sigle {
              font-weight: bold;
              margin-right: 5px;
            }
            .cours__titre {
                display: none;
                @media screen and (min-width: 1000px) {
                  display: block;
                }
              }
          }
      }
  }
  
}
/* body ou un conteneur globale */
.site {
  width : 100vw;
  overflow-x :hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "aside"
    "main"
    // "aside2"  a faire exercice 4
    "footer";
  // row-gap: 50px;
  @media screen and (min-width: 1000px) {
    grid-template-columns: 30% auto; 
    grid-template-areas:
    "header header"
    "aside main"
    // "aside2 main"  a faire exercice 4
    "footer footer";
  }
}

.no-aside {
  grid-template-areas:
    "header"
    "main"
    "footer";
  // row-gap: 50px;
  @media screen and (min-width: 1000px) {
    grid-template-columns: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }
}