
.site__entete {
box-sizing: border-box;
padding: 10px;
}

.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #011d2e;
    box-sizing: border-box;
    gap: 10px;
    padding: 0px 20px;

}



.menu-entete-container {
flex : 1;
background-color: wheat;
border-radius: 10px;

.menu { //ul 
    display : flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    margin-left : auto;



.menu-item { // li
        flex : 1 0 50px;

    a{
        padding : 3px 5px;
        color : #555;
    }
    a:hover {
        color : tomato;
    }

}

}
@media screen (max-width:800px) {
    .menu{
        flex-direction : column wrap;
        text-decoration: none;
    }
}

}