
.site__entete {
box-sizing: border-box;
padding: 10px;
}

.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #011d2e;
    box-sizing: border-box;
    gap: 10px;
    padding: 0px 20px;

}

.menusearch{
    display: flex;
   justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
    @media screen and (min-width:1000px){
        flex-direction: row;
        align-items: center;
    }
    

}

.menu-entete-container {
flex : 1;
background-color: wheat;
border-radius: 10px;

.menu { //ul 
    display : flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    list-style-type: none;
    @media screen and (min-width : 400px) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
   



.menu-item { // li
        flex : 1 0 50px;

    a{
        padding : 3px 5px;
        color : #555;
    }
    a:hover {
        color : tomato;
    }

}

}
@media screen and (max-width:800px) {
    .menu{
        flex-direction : column wrap;
        text-decoration: none;
    }
}

}
.recherche {
    display: flex;
    flex-wrap: nowrap;
}