$menu-bg-color: #f5f5f5;
$menu-border-color: #aaa;
$menu-link-color: #333;

.menu__bloc { //nav
  .menu { //ul
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    .menu.item { //li
      border: 1px solid $menu-border-color;
      flex: 1 0 33%;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: darken($menu-bg-color, 5%);
        transform: scale(1.05);
      }

      a {
        font-size: 2rem;
        text-decoration: none;
        color: $menu-link-color;
      }
    }
  }
}

.evenement__porte{
  background-image: url('https://s2.svgbox.net/octicons.svg?ic=bell');
  background-repeat: no-repeat;
  // background-position: center;
  // background-size: 50%;
  background-color: #f5f5f5;
  // border: 1px solid #aaa;
  // border-radius: 50%;
  // width: 100px;
  height: 100px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: darken(#f5f5f5, 5%);
    transform: scale(1.05);
  }
  a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    text-align: center;
    line-height: 64px;
  }
}
